$primary-color: #FFF;
$primary-link-color: #000;
$primary-link-color-hover: #e19cff;
$border-focus: #e19cff;
$input-border-radius: 3px;
$main-margin: 12px;
$main-padding: 5px;
$li-font-size: 24px;
$label-font-size: 18px;
$corner-radius: 10px;
$transition-time: 0.5s;

body {
    background-color: $primary-color;
}

a {
    color: $primary-link-color;
    transition: 0.5s;
    border-radius: $corner-radius;
    padding: $main-padding;
}

a:hover {
    transition: $transition-time;
    background-color: $primary-link-color-hover;
}

li {
    margin: $main-margin;
    list-style-type: none;
    font-size: $li-font-size;
}

label, span {
    font-size: $label-font-size;
}

table {
    margin: $main-margin;
}

select {
    width: 100%;
}

button {
    width: 100%;
}

input, select {
    border-radius: $input-border-radius;
    border-style: solid;
    transition: $transition-time;
}

select:focus {
    border-color: $border-focus;
    transition: $transition-time;
}

input:focus {
    border-color: $border-focus;
    transition: $transition-time;
}